.idea/
logs/apache2
src/vendor
db/mysql
*.lock
.env
.env.production
.env.staging
.env.dev
*.log
*.mwb.bak
*.pdf
*.png
*.jpg
*.svg
*.jpeg
ergo-dev.json
ase-prod.json
id_rsa
pfak_ergo_empty.sql
phinx.yml