RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

# RewriteCond %{HTTP:X-Forwarded-Proto} !https
# RewriteRule (.*) https://ergoapi.sylvainmuller.ch/$1 [R=301,L]